@media screen and (max-width:759px) {
    .rainx {
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: #f0f4f5;
    }
    
    .rain {
        display: flex;
        position: relative;
        width: 100px;
        height: 100px;
        border: none;
        top: 10px;
    }
    
    .rainx:nth-child(1) {
        left: 0px;
        border-radius: 50%;
    }
    
    .rainx:nth-child(2) {
        left: 20px;
        border-radius: 50%
    }
    
    .rainx:nth-child(3) {
        left: 50px;
        border-radius: 50%;
    }
    
    .rainx:nth-child(4) {
        top: 20px;
        left: 0px;
        width: 90px;
        border-radius: 40%;
    }
    
    .Sun {
        width: 60px;
        height: 60px;
        border: 2px solid #f7df0b;
        border-radius: 50%;
        background-color: #FDB813;
        opacity: 1;
        margin-top: 10px;
    }
    
    .Circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid;
        position: relative;
    
    }
    
    .dirn {
        width: 15px;
        height: 10px;
        position: absolute;
    }
    
    .arrow_E {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 50px solid transparent;
        border-bottom: 50px solid #f00;
        position: absolute;
        z-index: 4;
        transform: rotate(90deg);
        left: 100px;
    }
    
    .arrow_W {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 50px solid transparent;
        border-bottom: 50px solid #f00;
        position: absolute;
        z-index: 4;
        transform: rotate(-90deg);
        left: 30px;
        top: 30px;
    }
    
    .arrow_N {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 50px solid transparent;
        border-bottom: 50px solid #f00;
        position: absolute;
        z-index: 4;
        top: 0px
    }
    
    .arrow_S {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 50px solid transparent;
        border-bottom: 50px solid #f00;
        position: absolute;
        z-index: 4;
        transform: rotate(180deg);
        top: 60px;
    }
    
    .E {
        z-index: 0;
        top: 65px;
        left: 120px;
    }
    
    .W {
        top: 65px;
        left: 5px;
        z-index: 1;
    }
    
    .N {
        top: 5px;
        z-index: 3;
    }
    
    .S {
        top: 120px;
        z-index: 4;
    }
    
    .Circle_Left {
        position: relative;
        animation-name: Left;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
    
    .Circle_Right {
        position: relative;
        animation-name: Right;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
    
    @keyframes Left {
        0% {
            left: 450px;
            top: 0px;
            background-color: #E9F3EF;
        }
    
        20% {
            left: 450px;
            top: 0px;
            background-color: aquamarine;
        }
    
        80% {
            left: -30px;
            top: x;
            background-color: chartreuse;
        }
    
        100% {
            left: 0px;
            top: 0px;
        }
    }
    
    @keyframes Right {
        0% {
            left: -450px;
            top: 0px;
            background-color: #E9F3EF;
        }
    
        40% {
            left: -450px;
            top: 0px;
            background-color: aquamarine;
        }
    
        90% {
            left: 15px;
            top: 0px;
            background-color: chartreuse;
        }
    
        100% {
            left: 0px;
            top: 0px;
        }
    }
}